---
 const personalImageAlt = "Nestor Casola picture"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Néstor, vivo en Tenerife, en las Islas Canarias. Empecé en la
      programación con 16 años, haciendo paginas webs por hobby y trasteando con Linux.
      Aunque estudié Filología Clásica, mi pasión por la tecnología me llevó a realizar un
      <strong>Grado Superior de Desarrollo de Aplicaciones Web (DAW)</strong>.
    </p>

    <p>
      Además de mi trabajo como <strong>Desarrollador Web Full Stack</strong
      > me gusta continuar aprendiendo y experimentando con nuevas tecnologías, 
      en pequeños proyectos que me permitan seguir creciendo como profesional.
    </p>

    <p>
      En mi tiempo libre me gusta leer, ver series y películas, jugar a videojuegos y
      sobre todo pasar tiempo con mi mujer y mis hijos.
    </p>
  </div>

  <img src="/me.webp" class="hidden rounded-lg w-96 h-96 order-1 md:block" alt={personalImageAlt}/>

</article>